 
 
     <a class=" btn btn-warning" href="/blog"><i class="ti ti-chevron-left me-1"></i>Back</a>
 
 <h2 class="text-center my-2 mb-3">Your <%= data.title %> task</h2>
 <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    
                    <th>Title</th>
                    <th>Content</th>
                    <th>Images</th>
                    <th>Actions</th>
                </tr>
            </thead>
           <tbody>
                            <% if (data ) { %>
                               
                                    <tr>
                                        <td><%= data.title %></td>
                                        <td><%= data.description %></td>
                                        <td><img style="width: 100px;"  src="/uploads/images/<%= data.image %>" alt="blog image"></td>
                                        <td>
                                            <a class="btn btn-success" href="/task/view">View</a>
                                            <a class="btn btn-warning" href="#">Edit</a>
                                            <a class="btn btn-danger delete-btn" 
                                               href="javascript:void(0);" 
                                               data-id="<%= data.id %>">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                               
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <script>
                // Get all elements with the class 'delete-btn'
                const deleteButtons = document.querySelectorAll('.delete-btn');

                deleteButtons.forEach(button => {
                    button.addEventListener('click', function(event) {
                        event.preventDefault(); // Stop the default link navigation

                        const taskId = this.getAttribute('data-id');
                        const deleteUrl = '/task/delete/' + taskId;
                        const taskTitle = this.closest('tr').querySelector('td:nth-child(2)').textContent; // Get the title for a better alert message

                        Swal.fire({
                            title: 'Are you sure?',
                            html: `You are about to delete the task: **${taskTitle}**.<br/>You won't be able to revert this!`,
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#3085d6',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // If the user clicks 'Yes, delete it!', redirect to the delete URL
                                window.location.href = deleteUrl;
                            }
                        });
                    });
                });
            </script>