<div class="row">
    <div class="col-lg-12">
        <h1>Our Blog Management</h1>

        <% if (success.length > 0) { %>
         <div class="alert alert-success">
            <%= success[0] %>
         </div>
        <% } %>
        <% if (error.length > 0) { %>
         <div class="alert alert-danger">
            <%= error[0] %>
         </div>
        <% } %>

        <a class="btn btn-success my-3" href="/task/create">Add New Task<i class="ti ti-chevron-right me-1"></i></a>
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Images</th>
                    <th>Actions</th>
                </tr>
            </thead>
           <tbody>
                            <% if (data && data.length > 0) { %>
                                <% data.reverse().forEach((task, index) => { %>
                                    <tr>
                                        <td><%= index + 1 %></td>
                                        <td><%= task.title %></td>
                                        <td><%= task.description %></td>
                                        <td><img style="width: 120px;" src="/uploads/images/<%= task.image %>" alt="blog image"></td>
                                        <td>
                                            <a class="btn btn-success" href="/task/view/<%= task.id %>">View</a>
                                            <a class="btn btn-warning" href="/task/edit/<%= task.id %>">Edit</a>
                                            <a class="btn btn-danger delete-btn" 
                                               href="javascript:void(0);" 
                                               data-id="<%= task.id %>">
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                <% }) %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <script>
                // Get all elements with the class 'delete-btn'
                const deleteButtons = document.querySelectorAll('.delete-btn');

                deleteButtons.forEach(button => {
                    button.addEventListener('click', function(event) {
                        event.preventDefault(); // Stop the default link navigation

                        const taskId = this.getAttribute('data-id');
                        const deleteUrl = '/task/delete/' + taskId;
                        const taskTitle = this.closest('tr').querySelector('td:nth-child(2)').textContent; // Get the title for a better alert message

                        Swal.fire({
                            title: 'Are you sure?',
                            html: `You are about to delete the task: **${taskTitle}**.<br/>You won't be able to revert this!`,
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            cancelButtonColor: '#3085d6',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // If the user clicks 'Yes, delete it!', redirect to the delete URL
                                window.location.href = deleteUrl;
                            }
                        });
                    });
                });
            </script>