
<div class="form">
    <a class=" btn btn-warning" href="/blog"><i class="ti ti-chevron-left me-1"></i>Back</a>
    <h2 class="text-center ">Update New Task</h2>
    <% if (msg) { %>
         <p><%= msg %></p>
    <% } %>
    <form action="/task/update/<%= data.id %>" method="POST" enctype="multipart/form-data" >
                      <% if (data) { %>
                       <div class="mb-3">
                        <label for="taskTitle" class="form-label">Task Title</label>
                        <input type="text" class="form-control" value="<%= data.title %> " id="taskTitle" name="title" placeholder="e.g., Complete Report Draft" required>
                    </div>

                    <div class="mb-3">
                        <label for="taskDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="taskDescription" name="description" rows="5" placeholder="Provide detailed instructions and objectives for the task." required><%= data.description %></textarea>
                    </div>

                    <div class="mb-4">
                        <label for="taskImage" class="form-label">Upload Image (Optional)</label>
                        <img style="width: 600px; display: block; margin: 20px 0px;" src="/uploads/images/<%= data.image %>" alt="">
                        <input class="form-control" type="file" id="taskImage" name="image" accept="image/*">
                        <div id="imageHelp" class="form-text">Attach an image relevant to the task (e.g., a diagram or screenshot).</div>
                    </div>

                      <% } %>
                    
                    <button type="submit" class="btn btn-primary me-2" name="add">
                        <i class="ti ti-plus me-1"></i> Update Task
                    </button>
                    <button type="reset" class="btn btn-outline-secondary">
                        Clear Form
                    </button>
                </form>
</div>
